@model Darwin.WebAdmin.ViewModels.Inventory.StockLevelEditVm

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="WarehouseId" class="form-label"></label>
        <select asp-for="WarehouseId" asp-items="Model.WarehouseOptions" class="form-select"></select>
    </div>
    <div class="col-md-6">
        <label asp-for="ProductVariantId" class="form-label"></label>
        <select asp-for="ProductVariantId" asp-items="Model.VariantOptions" class="form-select"></select>
    </div>
    <div class="col-md-3"><label asp-for="AvailableQuantity" class="form-label"></label><input asp-for="AvailableQuantity" class="form-control" /></div>
    <div class="col-md-3"><label asp-for="ReservedQuantity" class="form-label"></label><input asp-for="ReservedQuantity" class="form-control" /></div>
    <div class="col-md-2"><label asp-for="ReorderPoint" class="form-label"></label><input asp-for="ReorderPoint" class="form-control" /></div>
    <div class="col-md-2"><label asp-for="ReorderQuantity" class="form-label"></label><input asp-for="ReorderQuantity" class="form-control" /></div>
    <div class="col-md-2"><label asp-for="InTransitQuantity" class="form-label"></label><input asp-for="InTransitQuantity" class="form-control" /></div>
</div>
