@model Darwin.WebAdmin.ViewModels.CRM.LeadEditVm
@{
    ViewData["Title"] = "Create Lead";
}

<h1 class="mb-3">Create Lead</h1>

<partial name="_LeadEditorShell" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
