@model Darwin.WebAdmin.ViewModels.Billing.PaymentEditVm
@{
    ViewData["Title"] = "Create Payment";
}

<div id="billing-payment-editor-shell">
    @{
        ViewData["IsCreate"] = true;
    }
    <partial name="~/Views/Billing/_PaymentEditorShell.cshtml" model="Model" />
</div>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
