DARWIN_WEBAPI_BASE_URL=http://localhost:5134
DARWIN_WEB_SITE_URL=http://localhost:3000
DARWIN_WEB_MAIN_MENU_NAME=main-navigation
DARWIN_WEB_FOOTER_MENU_NAME=Footer
DARWIN_WEB_THEME=grocer
DARWIN_WEB_CULTURE=de-DE
DARWIN_WEB_SUPPORTED_CULTURES=de-DE,en-US
DARWIN_WEB_CULTURE_COOKIE_NAME=darwin-web-culture
DARWIN_WEB_ALLOW_INSECURE_WEBAPI_TLS=false
